<a
{...Astro.props}
  class="rounded-full border border-white/10 flex justify-center items-center text-ms lg:text-ms gap-2 lg:gap-2 py-1 px-1 lg:py-1 lg:px-2 bg-white/5 hover:scale-110 hover:bg-white/10 transition"
  href={Astro.props.href}
  target="_blank"
  rel="noopener"
>
  <slot />
</a>
