---
import Header from "../components/Header.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description:string;
}

const { title,description  } = Astro.props;
---

	<!doctype html>
	<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href='/codigo.png' />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="">

		<Header />
		<slot />
	</body>
	</html>
	<style is:global>
	::-webkit-scrollbar {
    display: none;
}

	:root {
		color-scheme: light dark;
	}

	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		background-color: #040A11;
		color: #e9e9e9;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	</style>
